<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barcos del socio</title>
</head>
<body>

    <div class="container">
        <br>
        <h3 class="text-center">Barcos del socio</h3>

        <table class="table" *ngIf="hasBarcos">
            <thead>
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col" class="text-center">Matrícula</th>
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Ver detalles</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Borrar</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let b of barcos">
                    <td class="text-center">{{b.id}}</td>
                    <td class="text-center">{{b.matricula}}</td>
                    <td class="text-center">{{b.nombre}}</td>

                    <td class="text-center">
                        <i class="bi bi-eye" *ngIf="b.id" (click)="verDetalles(b.id)"></i>
                    </td>

                    <td class="text-center">
                        <i class="bi bi-pencil-square" *ngIf="b.id" (click)="actualizarBarco(b.id)"></i>
                    </td>

                    <td class="text-center">
                        <i class="bi bi-trash3 trash-rojo" *ngIf="b.id" (click)="delete(b.id)"></i>
                    </td>
                </tr>
            </tbody>

        </table>

        <br>
        <p *ngIf="!hasBarcos" class="text-center fs-3">Este socio no posee barcos</p>
    </div>
    
</body>
</html>