<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de socios</title>
</head>
<body>

    <div class="container">
        <br>
        <button class="btn btn-success" [routerLink]="['/registrar-socio']">Añadir socio</button>
        <h3 class="text-center">Socios</h3>
        <table class="table">
            <thead>
                <tr>
                    
                    <th scope="col" class="text-center">DNI</th>
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Barcos</th>
                    <th scope="col" class="text-center">Detalles</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Borrar</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let s of socios">
                    <td class="text-center">{{ s.dni }}</td>
                    <td class="text-center">{{ s.nombre }}</td>

                    <td class="text-center">
                        <i class="bi bi-truck" *ngIf="s.id" (click)="verListadoBarcos(s.id)"></i>
                    </td>

                    <td class="text-center">
                        <i class="bi bi-eye" *ngIf="s.id" (click)="verDetalles(s.id)"></i>
                    </td>

                    <td class="text-center">
                        <i class="bi bi-pencil-square" *ngIf="s.id" (click)="actualizarSocio(s.id)"></i>
                    </td>

                    <td class="text-center">
                        <i class="bi bi-trash3 trash-rojo" *ngIf="s.id" (click)="delete(s.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>