<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>
<body>

    <div class="container">
        <h3 class="text-center mt-5">Iniciar sesión</h3>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6">

                <form>
                    <div class="mb-3">
                        <label for="username" class="form-label">Nombre de usuario</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="username" required
                        [(ngModel)]="username" #usernameField="ngModel">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="*******" required
                        [(ngModel)]="password" #passwordField="ngModel">
                    </div>


                    <div class="centrarBoton">
                        <button type="submit" class="btn btn-primary" (click)="login()">Iniciar sesión</button>
                    </div>

                </form>

            </div>
        </div>
        

    </div>
    
</body>
</html>
