<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salidas del patrón</title>
</head>
<body>

    <div class="container">
        <br>
        <h3 class="text-center">Salidas del patrón</h3>
        <table class="table" *ngIf="hasSalidas">
            <thead>
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col" class="text-center">Fecha de salida</th>
                    <th scope="col" class="text-center">Destino</th>
                    <th scope="col" class="text-center">Detalles</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Borrar</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let s of salidas">
                    <td class="text-center">{{ s.id }}</td>
                    <td class="text-center">{{ s.fechaSalida }}</td>
                    <td class="text-center">{{ s.destino }}</td>

                    <td class="text-center">
                        <i class="bi bi-eye" *ngIf="s.id" (click)="verDetalles(s.id)"></i>
                    </td>

                    <td class="text-center">
                        <i class="bi bi-pencil-square" *ngIf="s.id" (click)="actualizarSalida(s.id)"></i>
                    </td>

                    <td class="text-center">
                        <i class="bi bi-trash3 trash-rojo" *ngIf="s.id" (click)="delete(s.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <p *ngIf="!hasSalidas" class="text-center fs-3">Este patrón no tiene salidas</p>
    </div>
    
</body>
</html>