<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar persona</title>
</head>
<body>

    
    <div class="container">
        <br>
        <h3 class="textCenter">Registrar empleado</h3>
        
        <!--con #myForm="ngForm" creamos una referencia local a la directiva ngModel, permitiendo acceder a sus propiedades 
            (nos permitirá ver si el form tiene campos invalidos)-->
        <form #myForm="ngForm">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">

                    <div class="mb-3">
                        <!-- #dniField="ngModel" crea una referencia local a la directiva ngModel, permitiendo acceder a sus 
                        propiedades (valid, touched, etc.). Pristine = true si el valor del campo ha cambiado desd q se inicializó
                        Al final no he usado pristine pq me ha dado problemas al querer mostrar != errores en funcion d la condicion-->
                        <label for="dni" class="form-label">DNI</label>
                        <input type="text" name="dni" id="dni" placeholder="12345678A" [(ngModel)]="dni" class="form-control" 
                        required #dniField="ngModel" pattern="^\d{8}[a-zA-Z]{1}$">

                          <!-- Se muestra una alerta si el campo ha sido tocado y está en blanco -->
                        <div class="alert alert-danger mt-2" *ngIf="dniField.errors?.['required'] && dniField.touched">
                            El DNI es obligatorio
                        </div>

                        <!-- Se muestra una alerta si el formato del campo no es correcto-->
                        <div class="alert alert-danger mt-2" *ngIf="dniField.touched && dniField.errors?.['pattern']">
                            El DNI no tiene el formato correcto
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control" required
                        [(ngModel)]="nombre" #nombreField="ngModel" >

                        <div class="alert alert-danger mt-2" *ngIf="nombreField.errors?.['required'] && nombreField.touched">
                            El nombre es obligatorio
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos" class="form-control" 
                        required [(ngModel)]="apellidos" #apellidosField="ngModel">

                        <div class="alert alert-danger mt-2" *ngIf="apellidosField.errors?.['required'] && apellidosField.touched">
                            Los apellidos son obligatorios
                        </div>

                       
                    </div>


                    <div class="mb-3">
                        <label for="edad" class="form-label">Edad</label>
                        <input type="number" id="edad" name="edad" placeholder="Edad" class="form-control" required 
                        [(ngModel)]="edad" #edadField="ngModel">

                        <div class="alert alert-danger mt-2" *ngIf="edadField.errors?.['required'] && edadField.touched">
                            La edad es obligatoria
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="numTelefono" class="form-label">Número de teléfono</label>
                        <input type="tel" id="numTelefono" name="numTelefono" placeholder="678140769" class="form-control" 
                        pattern="^(\+\d{1,3}\s?)?\d{9}$" required [(ngModel)]="numTelefono" #numTelefonoField="ngModel">

                        <div class="alert alert-danger mt-2" *ngIf="numTelefonoField.errors?.['required'] &&  
                        numTelefonoField.touched">
                            El número de teléfono es obligatorio
                        </div>

                        <div class="alert alert-danger mt-2" *ngIf="numTelefonoField.touched && numTelefonoField.errors?.['pattern']">
                            El número de teléfono no tiene el formato correcto
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                        <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control" required
                        [(ngModel)]="fechaNacimiento" #fechaNacimientoField="ngModel">

                        <div class="alert alert-danger mt-2" *ngIf="fechaNacimientoField.errors?.['required'] && 
                        fechaNacimientoField.touched">
                            La fecha de nacimiento es obligatoria
                        </div>
                    </div>

                    <!--Hacemos q el div sea un elemento flex para poder alinear a sus hijos (en este caso, el boton)
                    Con [disabled]="!myForm.valid", si el form no es valido (algun input es invalido), el boton estará 
                    deshabilitado-->
                    <div class="centrarBoton">
                        <button type="submit" class="btn btn-success" (click)="create()" [disabled]="!myForm.valid">Añadir</button>
                    </div>
                </div>
            </div>
            


        </form>
    </div>

</body>
</html>
